<div class="container-fluid max-width">
  <div class="row">
    <mat-toolbar color="primary" class="header">
      <span>Animal Gallery</span>
      <mat-form-field class="form-field margin-left">
        <mat-label>New animal</mat-label>
        <input matInput type="text" #inputAnimal (keydown.enter)="inputAnimal ? addAnimal(inputAnimal.value) : null"/>
        <button
          mat-button
          *ngIf="inputAnimal"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="inputAnimal.value = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-icon-button (click)="addAnimal(inputAnimal.value)">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <div class="row margin-left align-items-start justify-content-center" style="font-size: 1rem;">

        <span>Dangerous only</span>
        <div class="w-100"></div>
        <mat-slide-toggle
        [checked]="false"
        (change)="filterDangerous()"
        [color]="'white'"
        ></mat-slide-toggle>
      </div>
    </mat-toolbar>
  </div>
  <app-body [animals]="animals"></app-body>
</div>
